*/**/*.o
*/**/C Lang/**/*.exe
/ProgApp/NetBeans/PROJETO_1_THIAGO/target/
/ProgApp/NetBeans/PROJETO_2_THIAGO/target/
/ProgApp/NetBeans/PROJETO_3_THIAGO/target/
/ProgApp/NetBeans/PROJETO_4_THIAGO/target/
/ProgApp/NetBeans/PROJETO_5_THIAGO/target/
/ProgApp/NetBeans/PROJETO_7_THIAGO/target/
/ProgApp/NetBeans/PROJETO_9_THIAGO/target/
/ProgApp/NetBeans/PROJETO_10_THIAGO/target/
